# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Temporary files
tmp/

# Log files
*.log



# Windows
Thumbs.db

# Downloaded audio files
*.mp3
*.wav

# Whisper model cache
*.pt
*.bin

# Ignore virtual environments
venv/
youtube/
youtubekernel/